.merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
}
.custom1 {background-image: url(../Photos/bowbackground.png); 
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300vh;
}
.custom-background {
    background-image: url(../Photos/bowbackground.png); 
            background-position: center;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            ;
}
.custom-background1 {
    background-image: url(../Photos/cavwallpaper.jpg); 
            background-position: center;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            ;
}
.custom-background2 {
    background-image: url(../Photos/sabreback.png); 
            background-position: center;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            ;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
    background-color: #000000; 
    color: white; 
    z-index: 10002000; 
}

.logo {
    max-width: 70%;
    max-height: 8vh; 
    width: auto;
    height: auto;
    padding-top: 10px;
}
.containerlast {
    display: flex;
    flex-direction: column;
}
.containerlast p{
    margin-left: 45px;
}
.links {
    
     display: flex;
    align-items: center;
    font-family: "Merriweather", serif;
    margin-left: 30px;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
    color: inherit
    
    
}
.links a {
    text-decoration: none; 
    color: inherit; 
    font-size: 16px;
}

.links a,
.links span {
    margin-left: 5px; 
    font-size: 0.8em;
}

.links a:last-child,
.links span:last-child {
    margin-right: 40px;
}

.links1 {
    display: flex;
    align-items: normal;    
    font-family: "Merriweather", serif;
    margin-left: 30px;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
    color: inherit
    
}
.links1 a {
    text-decoration: none; 
    color: inherit; 
    font-size: 16px;
}

.links1 a,
.links1 span {
    margin-left: 15px; 
    font-size: 0.8em;
}

.links1 a:last-child,
.links1 span:last-child {
    margin-right: 10px;
}

body {

    min-height: auto;
    background-image: url(../Photos/webbackground.png); 
            background-position: center;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            ;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    position: relative;
}

.proj {
position: absolute;
    max-height: 10%;
    min-width: 30%;
    max-width: 40%;
    box-shadow: 0px 0px 30px 30px;
    display: block;
    align-self: center;
    position: relative;
    margin-left: 30%;
    margin-top: 10%;
    margin-bottom: 5%;
}

.kublaipic1 {
    display: block;
    width: 2000px;
    max-height: 10%;
    min-width: 50%;
    max-width: 100%;
    box-shadow: 0px 0px 30px 30px;
    float: left;
    scale: 0.95; opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: 250px 700px;
    
    margin-bottom: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Mongol1 {
    position: relative;
    margin: 60px auto;
    width: 70%;
}
.banner {
    margin-top: 40px;
    width: 100%;
    min-width: 30%;
    border-bottom: solid 10px rgb(0, 0, 0);
    position: relative; 
}
.mong {
    font-size: 20px;
    margin: 10px;
}
.text-box1 {
    color: rgb(255, 255, 255); 
    
    
}
.text-box1 h2 {
    position: relative;
    margin-left: 5%;
    font-size: 36px;
    padding-bottom: 2px;
    font-family: "Merriweather", serif;
  font-weight: 600;
  font-style: italic;
  z-index: 11000; 
}
.text-box1 p {
    margin-top: 10px;
    font-size: 18px;
    font-family: "Merriweather", serif;
  font-weight: 500;
  font-style: normal;
  text-align: justify;
}
.separator {
    border: 1px solid #ffffff; 
    
    z-index: 11000; 
    position: relative;
    box-shadow: none; 
}
.mongoliagif {
    margin-top: 100px;
    margin-right: 10px;
    max-height: 10%;
    min-width: 50%;
    max-width: 50%;
    box-shadow: 0px 0px 30px 30px;
    float: left;
}
.text-box2 {
    margin-top: 50px;
    color: white;
    font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}
.text-box2 h2{
    font-size: 36px;
    font-family: "Merriweather", serif;
  font-weight: 600;
  font-style: italic;
  text-align: center;
  text-shadow: 10px 10px 14px rgba(0, 0, 0, 1.2);
}

.text-box2 p {
    text-align: justify;
    font-size: 18px;
    font-family: "Merriweather", serif;
  font-weight: 500;
  font-style: normal;
  text-align: justify;
}
.banner1 {
    border-top: solid 5px black;
    border-bottom: solid 5px black;
    margin-top: 30px;
    width: 140%;
    
    
    
    position: relative;
}
.Weapons {
    margin-top: 50px;
    color: white;
    font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
  text-align: center;
}
.Weapons h2{
    background-color: #000000;
    font-size: 36px;
    font-family: "Merriweather", serif;
  font-weight: 600;
  font-style: italic;
  text-align: center;
  text-shadow: 10px 10px 14px rgba(0, 0, 0, 1.2);
}
.Weapons p{
    background-color: #000000;
    font-size: 26px;
    font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 10px 10px 14px rgba(0, 0, 0, 1.2);
}

.warfarelinks {
    display: flex;
   justify-content: space-evenly;
   text-decoration: none;
   margin-top: 10px;
   gap: 1px;
}
.warfarelinks a {
    text-decoration: none;
}
.lastlinks {
    display: flex;
    flex-direction: row;
   justify-content: space-evenly;
   align-items: start;
   gap: 8em;
}
.lastlinks a{
    margin-top: 20px;
    align-items: first baseline;
    color: white;
    text-decoration: none;
    z-index: 1000000;
}
.lastlinks1 {
    display: flex;
    flex-direction: row;
   justify-content: space-evenly;
   align-items: start;
   
}
.lastlinks1 a {
    margin-top: 60px;
    align-items: first baseline;
    color: white;
    text-decoration: none;
    z-index: 1000000;
    font-size: 60px;
}
.Archeryvid {
    margin-top: 10px;
    max-height: 60%;
    min-width: 20%;
    max-width: 100%;
    margin-left: 0px;
    box-shadow: 0px 0px 30px 30px black;
    
}
.face {
    margin-top: 10px;
    max-height: 60%;
    min-width: 20%;
    max-width: 100%;
    margin-left: 0px;
}
.Sabrevid {
    box-shadow: 0px 0px 30px 30px black;
    margin-top: 10px;
    
    
    max-height: 60%;
    
    min-width: 20%;
    max-width: 105%;
    margin-left: 0px;
    
    
}
.insta {
    margin-top: 10px;
    max-height: 60%;
    min-width: 20%;
    max-width: 30%;
    margin-left: 0px;
}
.Cavalryvid {
    margin-top: 10px;
    box-shadow: 0px 0px 30px 30px black;
    max-height: 60%;
    max-width: 100%;
    margin-left: 0px;
    
    
}
.twitter{ 
    margin-top: 10px;
    max-height: 60%;
    min-width: 20%;
    max-width: 160%;
    margin-left: -110px;
}
.responsive-video {
    width: 100%;
    max-width: 1000px; 
    height: auto; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.intoshadow {
    background: linear-gradient(rgba(0 , 0 , 0 , 0) 0%, #000 5%);
    position: relative;
    margin-top: 10px;
    padding-top: 200px;
    padding-bottom: 500px;
    
}
.intoshadow h2{
    font-size: 56px;
    font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  scale: 1; opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: 250px 400px;
}
.intoarcher {
    margin-top: 130px;
}
.archerai {
    max-height: 10%;
    min-width: 10%;
    max-width: 35%;
    position: relative;
    float: right;
    margin-top: -30px;
    margin-right: 50px;
    margin-left: 50px;
    scale: 1; opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: 350px 500px;
    z-index: 1000001;
}
.text-box3 {
    margin-top: 0px;
    color: white;
    font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
  
}
.text-box3 h2{
    font-size: 36px;
    font-family: "Merriweather", serif;
  font-weight: 600;
  font-style: italic;
  text-align: center;
  text-shadow: 10px 10px 14px rgba(0, 0, 0, 1.2);
  scale: 1; opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: 250px 300px;
}

.text-box3 p {
    margin: 30px;
    text-align: justify;
    font-size: 18px;
    font-family: "Merriweather", serif;
  font-weight: 500;
  font-style: normal;
  text-align: justify;
  scale: 1; opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: 250px 300px;
}
.separator1 {
    margin-top: 10px;
    scale: 1; opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: 250px 300px;
}
.intohorsearcher{
    margin-top: 30%;
}
.horseai{
    margin-top: 10px;
    max-height: 10%;
    min-width: 10%;
    max-width: 35%;
    position: relative;
    float: left;
    margin-top: -30px;
    margin-right: 50px;
    margin-left: 50px;
    scale: 1; opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: 350px 500px;
    z-index: 1000001;
}
.intohorsecav{
    margin-top: 30%;
}
.heavyhorseai {
    margin-top: 10px;
    max-height: 10%;
    min-width: 10%;
    max-width: 35%;
    position: relative;
    float: right;
    margin-top: -30px;
    margin-right: 50px;
    margin-left: 50px;
    scale: 1; opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: 350px 500px;
    z-index: 1000001;
}
@keyframes fade-in {
    to {scale: 1; opacity: 1;}
}

@media (max-width: 800px) {
    .archerai {
        max-width: 70%;
        float: none;
        }
        .text-box3 p {
            font-size: 13px;
        }
        .horseai{
            max-width: 70%;
        float: none;
        }
        .heavyhorseai {
            max-width: 70%;
            float: none; 
        }
}
@media (min-width: 577px) {
    .links a {
        font-size: 17px; /
    }

}

@media (max-width: 576px) {
    .links a {
        font-size: 10px; 
    }
    .logo {
        min-width: 100px;
    }
    .mong {
        font-size: 10px; 
    }
    .mongoliagif {
    max-width: 80%;
    margin-left: 30px;
    }
    .archerai {
    max-width: 80%;
    margin-left: 30px;
    }
    .text-box2 p {
        font-size: 13px;
    }
    .text-box1 p {
        font-size: 13px;
    }
    .lastlinks {
        gap: 4em;
    }
}
.Weapons1 {
    flex: 1;
    margin-top: 70px;
    color: white;
    font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
  text-align: center;
}
.Weapons1 h2{
    background-color: #000000;
    font-size: 36px;
    font-family: "Merriweather", serif;
  font-weight: 600;
  font-style: italic;
  text-align: center;
  text-shadow: 10px 10px 14px rgba(0, 0, 0, 1.2);
}
.Weapons1 p{
    background-color: #000000;
    font-size: 26px;
    font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 10px 10px 14px rgba(0, 0, 0, 1.2);
}
.footer {
    display: flex;
    position: absolute; 
    left: 0; 
    bottom: -100px; 
    width: 100%; 
    background-color: #000000; 
    color: #fff; 
    padding: 40px; 
    
    
}
.footer1{
    display: flex;
    position: absolute; 
    left: 0; 
    bottom: -614px; 
    width: 100%; 
    background-color: #000000; 
    color: #fff; 
    padding: 40px; 
     
}
.logo1{
    max-width: 70%;
    max-height: 8vh; 
    height: auto;
}

