
body {
    margin: 0;
    padding: 0;
    
}
.protest-strike-regular {
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.header1 {

    background: linear-gradient(to right, rgb(218, 133, 5), rgb(221, 191, 126)); /* Gradient from header color to white */
    color: rgb(218, 133, 5); /* Text color */
    padding: 2px 0; 
    text-align: left; 
    position: fixed; 
    width: 100%; 
    top: 0; 
    z-index: 200; 
    font-size: small;
    font-family: 'RegMakokoFont', sans-serif;
    font-weight: normal;
}
.headermain {
    background-color: rgb(255, 255, 255); 
    color: rgb(38, 44, 9); 
    padding: 20px 0; 
    text-align: center; 
    position: fixed; 
    width: 100%; 
    top: 10px; 
    z-index: 40; 
    font-family: "Protest Strike", sans-serif;
    font-size: 30px;
}
.line {
    border: none;
    width: 25%; 
    margin: auto; 
    height: 4px; 
    background: linear-gradient(to right, rgb(218, 133, 5), rgb(221, 191, 126)); /* Gradient from header color to white */
}
.block {
    width: 90%; 
    max-width: 500px; 
    height: 1000px; 
    background-color: rgb(218, 133, 5);
    position: relative; 
    margin: 20px auto; 
    padding: 30px; 
    font-family: "Protest Strike", sans-serif;
    font-size: 16px; 
    color: rgb(0, 0, 0);
    text-align: justify;
    left: -300px; 
}
@media screen and (max-width: 1600px) {
    .block {
        margin-left: 250px; 
        margin-right: auto; 
        left: 0; 
    }
}
@media screen and (max-width: 1280px) {
    .block {
        max-width: 500px; 
        margin-left: 100px; 
        margin-right: auto; 
        left: 0; 
    }
}
@media screen and (max-width: 1024px) {
    .block {
        max-width: 360px; 
        margin-left: 100px; 
        margin-right: auto; 
        left: 0; 
    }
}


@media screen and (max-width: 920px) {
    .block {
        width: 90%; 
        max-width: 500px; 
        margin: 20px auto; 
        font-size: 14px; 
        left: 0; 
    }
}



.content {
    min-height: calc(1000vh - 1000px);
    padding-top: 130px;
    font-size: inherit;
    font-family: 'RegMakokoFont', sans-serif;
    font-weight: normal;
}